.header {
    background-color: #1F2937;
    color: white;
}

.header-ribbon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-header {
    display: flex;
    justify-content: space-between;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
    justify-content: space-evenly;
    border: solid white 3px;
    border-radius: 25px;
    padding: 15px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}

.sub-button {
    width: 100px;
}

a:link {
    color: white;
}

a:visited {
    color:white;
}

.footer {
    background-color: #1F2937;
}